.footer {
    margin-top: 100px;
    height: 300px;
    background-color: rgb(44, 44, 44);
}

.footer-links-container {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    list-style: none;
    font-size: 20px;
    margin-top: 50px;
    color: #fff;
    cursor: pointer;
    margin-left: 50vw;
}

.footer-links-items {
    margin-bottom: 15px;
}



.social-media-list {
    position: absolute;
    font-size: 22px;
    text-align: center;
    width: 100%;
    margin-top: 190px;
}

.social-media-list li a {
    color: #fff;
}

.social-media-list li {
    position: relative;
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 10px 6px;
    line-height: 60px;
    border-radius: 50%;
    color: #fff;
    background-color: rgb(27, 27, 27);
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.social-media-list li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 0 1px #fff;
    transition: all .2s ease-in-out;
}

.social-media-list li:hover {
    background-color: #fff;
}

.social-media-list li:hover:after {
    opacity: 1;
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
}

.social-media-list li:hover a {
    color: #000;
}

#moto-1 {
    margin-left: 50px;
    margin-top: 30px;
    color: rgb(141, 141, 141);
    font-size: 50px;
    text-wrap: wrap;
    width: 500px;
    position: absolute;
}

#moto-2 {
    margin-left: 50px;
    margin-top: 95px;
    color: rgb(141, 141, 141);
    font-size: 50px;
    text-wrap: wrap;
    width: 500px;
    position: absolute;
}

#moto-3 {
    margin-left: 50px;
    margin-top: 160px;
    color: rgb(141, 141, 141);
    font-size: 50px;
    text-wrap: wrap;
    width: 500px;
    position: absolute;
}

.footer-logo img {
    width: 15vw;
    position: absolute;
    margin-top: 50px;
    margin-left: 77vw;
}

.copyright p {
    position: absolute;
    margin-top: 260px;
    margin-left: 30vw;
    font-size: 20px;
}

@media screen and (max-width: 900px) {

    #moto-1,
    #moto-2,
    #moto-3 {
        font-size: 30px;
    }

    #mote-1 {
        margin-top: 20px;
    }

    #moto-2 {
        margin-top: 80px;
    }

    #moto-3 {
        margin-top: 130px;
    }

    .footer {
        height: 200px;
    }

    .copyright p {
        position: absolute;
        margin-top: 140px;
        margin-left: 45vw;
        font-size: 20px;
    }
}

@media screen and (max-width: 900px) {

    #moto-1,
    #moto-2,
    #moto-3 {
        font-size: 30px;
    }

    #mote-1 {
        margin-top: 20px;
    }

    #moto-2 {
        margin-top: 80px;
    }

    #moto-3 {
        margin-top: 130px;
    }

    .footer-links-container {
        margin-top: 20px;
    }

    .copyright p {
        margin-top: 180px;
        margin-left: 28vw;
        font-size: 10px;
    }
}

@media screen and (max-width: 500px) {

    #moto-1,
    #moto-2,
    #moto-3 {
        font-size: 20px;
    }

    #mote-1 {
        margin-top: 20px;
    }

    #moto-2 {
        margin-top: 60px;
    }

    #moto-3 {
        margin-top: 90px;
    }
}